[submodule "Submodules/csDelaunay"]
	path = Submodules/csDelaunay
	url = https://github.com/PouletFrit/csDelaunay.git
[submodule "Assets/Resources/Libraries/csDelaunay"]
	path = Assets/Resources/Libraries/csDelaunay
	url = https://github.com/PouletFrit/csDelaunay.git
